# Framework Environment Variables (Example)
# Copy this file to .env to modify local values

# App Graphical Interface (UI)
BASE_URL=https://demo.realworld.show

# App Base API (Backend)
API_BASE_URL=https://api.realworld.show/api
